<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Arbitrage Finder{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <nav class="navbar">
        <a href="/" class="nav-link">Home</a>
        <a href="/h2h-arb" class="nav-link">H2H Arbitrage</a>
        <a href="/api-test-h2h" class="nav-link">H2H Test</a>
        <a href="/totals-arb" class="nav-link">Totals Arbitrage</a>
        <a href="/api-test-totals" class="nav-link">Totals Test</a>
    </nav>
    <hr>

    {% block content %}
    <!-- This will be replaced by each specific page -->
    {% endblock %}

</body>
</html>
