{% extends "base.html" %}

{% block title %}All Odds Markets{% endblock %}

{% block content %}
    <h1>API Test H2H</h1>
    
    {% if error %}
    <p style="color: red;">Error fetching odds: {{ error }}</p>
{% elif odds %}
    <ul>
    {% for event in odds %}
        <li>
            <strong>{{ event.home_team }} vs {{ event.away_team }}</strong><br>
            Starts at: {{ event.commence_time }}<br>
            {% for bookmaker in event.bookmakers %}
                <p>{{ bookmaker.title }}</p>
                {% if bookmaker.markets and bookmaker.markets[0].outcomes %}
                    <ul>
                    {% for outcome in bookmaker.markets[0].outcomes %}
                        <li>{{ outcome.name }}: {{ outcome.price }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No market data available.</p>
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No odds available.</p>
{% endif %}
{% endblock %}
