{% extends "base.html" %}

{% block title %}All Odds Markets_totals{% endblock %}

{% block content %}
    <h1>API Test Totals</h1>
    
    {% if error %}
    <p style="color: red;">Error fetching odds: {{ error }}</p>
{% elif odds %}
    <ul>
    {% for event in odds %}
        <li>
            <strong>{{ event.home_team }} vs {{ event.away_team }}</strong><br>
            Starts at: {{ event.commence_time }}<br>
            {% for bookmaker in event.bookmakers %}
                <p>{{ bookmaker.title }}</p>
                <ul>
                {% for outcome in bookmaker.markets[0].outcomes %}
                    <li>{{ outcome.name }}: {{ outcome.price }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No odds available.</p>
{% endif %}
{% endblock %}
