<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scoreboard{% endblock %}</title>

    <!-- --- CSS FILES --- -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.stage-card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes.jerseys.css') }}">

    {% block page_css %}{% endblock %}
</head>

<!-- Reference the functions in 'js/tabs.js' -->
<script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
<script src="{{ url_for('static', filename='js/fetching_data.js') }}"></script>


<body>

    <!-- Navigation Tabs -->
    <div class="tab">
    <a href="{{ url_for('main_bp.index') }}">
        <button class="{{ 'active' if request.endpoint == 'main_bp.index' else '' }}">Home</button>
    </a>
    <a href="{{ url_for('race_bp.create_race') }}">
        <button class="{{ 'active' if request.endpoint == 'race_bp.create_race' else '' }}">Create Race</button>
    </a>
    <a href="{{ url_for('scoreboard_bp.scoreboard') }}">
        <button class="{{ 'active' if request.endpoint == 'scoreboard_bp.scoreboard' else '' }}">Scoreboard</button>
    </a>
    <a href="{{ url_for('main_bp.rules') }}">
        <button class="{{ 'active' if request.endpoint == 'main_bp.rules' else '' }}">Rules</button>
    </a>
    </div>

    <!-- Page Content -->
    {% block content %}
    {% endblock %}

</body>
</html>
