<div id="classement" class="subTabcontent">
    <h2>Classement</h2>
    <table>
        <thead>
            <tr>
                <th rowspan="2">Stage</th>
                {% for team in team_names %}
                    <th colspan="{{ assistant }}">{{ team }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for team_id in rider_names %}
                    {% for rider in rider_names[team_id] %}
                        <th>{{ rider }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for stage in range(stages) %}
                <tr>
                    <td>Stage {{ stage + 1 }}</td>
                    {% for team_id in rider_names %}
                        {% for rider in rider_names[team_id] %}
                            <td id="classement-stage-{{ stage + 1 }}-team-{{ team_id }}-rider-{{ loop.index }}"></td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                {% for team_id in rider_names %}
                    {% for rider in rider_names[team_id] %}
                        <td id="classement-total-team-{{ team_id }}-rider-{{ loop.index }}"></td>
                    {% endfor %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
