<div id="classement" class="subTabcontent">
    <h2>Classement</h2>
    <table>
        <thead>
            <tr>
                <th rowspan="2">Stage</th>
                {% for team in teams %}
                    <th colspan="{{ assistant }}">{{ team.name }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for team in teams %}
                    {% for rider in team.riders %}
                        <th>{{ rider.name }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for stage in range(stages) %}
                <tr>
                    <td>Stage {{ stage + 1 }}</td>
                    {% for team in teams %}
                        {% for rider in team.riders %}
                            <td id="classement-stage-{{ stage + 1 }}-team-{{ team.id }}-rider-{{ rider.id }}"></td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                {% for team in teams %}
                    {% for rider in team.riders %}
                        <td id="classement-total-team-{{ team.id }}-rider-{{ rider.id }}"></td>
                    {% endfor %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
