<div id="classement" class="subTabcontent">
    <h2>Classement</h2>
    <table>
        <thead>
            <tr>
                <th rowspan="2">Stage</th>
                {% for team in team_names %}
                    <th colspan="{{ assistant }}">{{ team }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for team_id in rider_names %}
                    {% for rider in rider_names[team_id] %}
                        <th>{{ rider }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for stage in range(stages) %}
                <tr>
                    <td>Stage {{ stage + 1 }}</td>
                    {% for team_id in rider_names %}
                        {% for rider_index, rider in enumerate(rider_names[team_id]) %}
                            <td id="classement-stage-{{ stage + 1 }}-team-{{ team_id }}-rider-{{ rider_index }}">
                                {% set rider_id = rider_ids[team_id][rider_index] %}
                                {% set stage_id = stage_data[stage].id %}
                                {% set placement = classement_data[stage_id][team_id][rider_id] if stage_id in classement_data and team_id in classement_data[stage_id] and rider_id in classement_data[stage_id][team_id] else '' %}
                                {{ placement if placement is not none else '' }}
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                {% for team_id in rider_names %}
                    {% for rider_index, rider in enumerate(rider_names[team_id]) %}
                        <td id="classement-total-team-{{ team_id }}-rider-{{ rider_index }}">
                            {% set rider_id = rider_ids[team_id][rider_index] %}
                            {% set total_placement = total_classement_data[team_id][rider_id] %}
                            {{ total_placement if total_placement is not none else '' }}
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
